*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    background: linear-gradient( to right,  rgba(112,246,255,0.33) , rgba(221,108,241,0.26) , rgba(229,106,253,0.71) , rgba(123,183,253,1) );
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom:2rem;
    font-size:36px;
}
.container{
    width:500px;
    color:white;
    background: linear-gradient( 104.1deg,  rgba(0,61,100,1) 13.6%, rgba(47,127,164,1) 49.4%, rgba(30,198,198,1) 93.3% );
    margin:70px auto;
    border-radius:10px;
    padding:3rem 2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:1.5rem;
}
#input-box{
    background-color:white;
    border:none;
    border-radius:20px;
    width:max-content;
}
#input-box select{
    border:none;
    width:max-content;
    padding:12px;
    background:transparent;
    font-size:16px;
    color:black;
}
#input-box select:focus{
    border:none;
    outline:none;
}
#input-box i{
    color:rgb(156, 60, 86);
    font-size:20px;
    text-align: center;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    font-size: 20px;
    background: radial-gradient(circle 369px at -2.9% 12.9%, rgba(247, 234, 163, 1) 0%, rgba(236, 180, 238, 0.56) 46.4%, rgba(163, 203, 247, 1) 100.7%);
    padding: 0.75rem;
    border-radius: 30px;
    margin-top:2rem;
    font-weight: bold;
}
button:hover{
    opacity:0.7;
    box-shadow:0px 0px 10px 5px rgb(80, 77, 77);
}
#homeBtn{
    margin-left:45%;
}
#emoji-sec{
    display:grid;
    justify-content:center;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
}
.emoji{
    border: none;
    outline: none;
    font-size: 40px;
    background: radial-gradient(circle 369px at -2.9% 12.9%, rgba(247, 234, 163, 1) 0%, rgba(236, 180, 238, 0.56) 46.4%, rgba(163, 203, 247, 1) 100.7%);
    padding: 0.75rem;
    border-radius: 50%;
    margin:1rem;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:100; 
    font-size:40px
}
@media  screen and (max-width:426px) {
    .container{
        width:80%;
        gap:1rem;
    }
    .emoji{
        font-size:30px;
        padding:0.5rem;
    }
    #SearchPlaylist{
        margin-top:0;
    }
}
/*content-page*/
 .contentContainer{
    width:70%;
    border-radius:30px;
    color:white;
    background-color:rgb(50, 46, 46);
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    gap:2rem;
    margin:50px auto;
    padding:3rem;
}
.dancing-script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }
    h1{
    text-align:center;
    font-size:38px;
    }
.all{
    width: 100%;
    height: 100%;
}

.happyH2{
    font-size:30px;
    margin:1rem;
    color:rgb(250, 165, 179);
    text-align:center;
    font-weight:200;
}
.sadH2{
    font-size:30px;
    margin:1rem;
    color:rgb(231, 155, 155);
    text-align:center;
    font-weight:200;
}
.focussedH2{
    font-weight:100;
    color:#fcfffe;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    text-align:center;
    margin:1rem;
}
.chillH2{
    font-weight:100;
    margin:1rem;
    color:#e01717;
    font-family:fantasy;
    text-align:center;
    font-size:30px;
}
.sadHeading{
    font-weight:100;
    color:#db026b;
    font-family:sans-serif;
    font-size:28px;
}
.focussedHeading{
    font-weight:100;
    color:#ecbd81;
    font-family:sans-serif;
    font-size:28px;
}

.chillheading{
    font-weight:100;
    color:#dea710;
    font-family:monospace;
    font-size:28px;
}

#playlist{
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
gap:1rem;
font-size:20px;
flex-wrap: wrap;
}
#playlist a{
text-decoration:none;
background-color:white;
color:black;
border-radius:30px;
padding: 0.25rem 0.25rem 0.25rem 1rem;
width:90%;
display:flex;
justify-content:space-between;
align-items:center;
}
#playlist button{
outline:none;
border:none;
background:linear-gradient(45deg,#f9ce34,#ee2a7b,#6228d7);
color:black;
border-radius:30px;
font-size:18px;
margin:0;
}
button:hover{
    cursor: pointer;
}
.contentContainer{
 display:none;
}
.animateLeft{
    animation: swap-screen 5s;
    position:relative;
}
#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    object-fit: cover;
    display: none;
  }
@keyframes swap-screen{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(0);
    }
}
@media  screen and (max-width:768px){
    .contentContainer{
        width:90%;
    }
}
@media  screen and (max-width:426px){
    .contentContainer{
        padding:1.5rem;
        text-align:center;
    }
    .contentContainer h1{
        font-size:20px;
    }
    #playlist a{
        padding: 0.25em;
        text-wrap: wrap;
    }
    #head{
        font-weight:100 !important;
        font-size: 30px !important;
    }
    #homeBtn{
        margin-left:unset;
    }
}
